{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

source /tmp/chezmoi-utils.sh

printf "${green}[01 - Homebrew Dependencies] ${reset}"
{{ if or (lt 0 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_INSTALL_HOMEBREW_DEPS") -}}
echo "Skip installing homebrew dependencies"
exit 0
{{ else }}
echo "Installing Homebrew Dependencies"
{{- end }}

set -eufo pipefail

{{ $taps := list
  "homebrew/cask"
  "microsoft/git"
  "1password/tap"
-}}

{{ $brews := list
  "asdf"
  "bat"
  "ccls"
  "exa"
  "fd"
  "fzf"
  "fzy"
  "gh"
  "git"
  "git-delta"
  "jq"
  "lazygit"
  "ripgrep"
  "starship"
  "stylua"
  "tig"
  "tmux"
  "tree"
  "tree-sitter"
  "vale"
  "zplug"
  "zoxide"
  "zsh"
-}}

{{ $casks := list 
  "git-credential-manager-core"
  "1password-cli"
-}}

{{ if (eq .chezmoi.os "darwin") -}}
{{ $brews = concat $brews (list
    "chezmoi"
    "mas"
    "reattach-to-user-namespace") -}}

{{ $casks := concat $casks (list
    "slack"
    "raycast"
    "git-credential-manager-core") -}}
{{ end -}}

if [ -d /opt/homebrew/bin ]; then
  echo "M1 installation found"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if [ -d /home/linuxbrew/.linuxbrew/bin ]; then
  echo "linuxbrew installation found"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

echo "Homebrew Dependencies Installed!"
{{- end }}
