{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash

source /tmp/chezmoi-utils.sh

printf "${green}[01 - Homebrew Dependencies] ${reset}"
{{ if or (lt 0 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_INSTALL_HOMEBREW_DEPS") -}}
echo "Skip installing homebrew dependencies"
exit 0
{{ else }}
echo "Installing Homebrew Dependencies"
{{- end }}

set -eufo pipefail

{{ $taps := list
  "microsoft/git"
  "1password/tap"
  "FelixKratz/formulae"
-}}

{{ $brews := list
  "adr-tools"
  "bat"
  "bob"
  "ccls"
  "crush"
  "eza"
  "fd"
  "fzf"
  "fzy"
  "gh"
  "ghq"
  "git"
  "git-delta"
  "gnu-sed"
  "jj"
  "jjui"
  "jq"
  "lazygit"
  "mise"
  "opencode"
  "pinentry"
  "qmk"
  "ripgrep"
  "sheldon"
  "starship"
  "stylua"
  "tig"
  "tmux"
  "tree"
  "tree-sitter"
  "vale"
  "zplug"
  "zoxide"
  "zsh"
-}}

{{ $casks := list 
  "1password-cli"
  "aerospace"
  "alt-tab"
  "font-hack-nerd-font"
  "ghostty"
  "git-credential-manager"
  "leader-key"
  "raycast"
-}}

{{ if (eq .chezmoi.os "darwin") -}}
{{ $brews = concat $brews (list
    "borders"
    "chezmoi"
    "mas"
    "pinentry-mac"
    "reattach-to-user-namespace"
    "sketchybar") -}}

{{ $casks := concat $casks (list
    "slack"
    "raycast"
    "git-credential-manager") -}}
{{ end -}}

if [ -d /opt/homebrew/bin ]; then
  echo "M1 installation found"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

if [ -d /home/linuxbrew/.linuxbrew/bin ]; then
  echo "linuxbrew installation found"
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

brew bundle --file=/dev/stdin <<EOF || :
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
EOF

echo "Homebrew Dependencies Installed!"
{{- end }}
