{{- if (and (eq .chezmoi.os "linux") (not .ephemeral)) -}}
#!/bin/bash

set -eufo pipefail

# Update shell to zsh
if ! grep -q "$(whoami).*/bin/zsh" /etc/passwd
then
  sudo chsh -s /bin/zsh $(whoami)
fi

# Install needed devtools
# -- zoxide
curl -sS https://webinstall.dev/zoxide | bash

# -- zplug
curl -sL --proto-redir -all,https https://raw.githubusercontent.com/zplug/installer/master/installer.zsh | zsh

# -- Starship
sh -c "$(curl -fsSL https://starship.rs/install.sh)"

# -- apt packages
apt-get install -y \
  exa \
  ripgrep \

  "bat"
  "exa"
  "gh"
  "git"
  "git-delta"
  "reattach-to-user-namespace"
  "jq"
  "fd"
  "fzf"
  "fzy"
  "ripgrep"
  "starship"
  "tig"
  "tmux"
  "tree"
  "tree-sitter"
  "zoxide"
  "zsh"

{{ end -}}
