{{- if (and (eq .chezmoi.os "linux")) -}}
#!/bin/bash

source /tmp/chezmoi-utils.sh

printf "${green}[00 - Configuring linux] ${reset}"

set -eufo pipefail

# Update shell to zsh
if ! grep -q "$(whoami).*/bin/zsh" /etc/passwd
then
  sudo chsh -s /bin/zsh $(whoami)
fi
{{ end -}}
