{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- "" -}}
{{- $name := "Sean Dunn" -}}
{{- $email := "sean@attamusc.com" -}}
{{- $signingkey := "" -}}
{{- $is_codespace := false }}

{{- if (eq .chezmoi.username "codespace") }}
{{-   $is_codespace = true }}
{{- end }}

{{- if (env "ASK") }}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{- end }}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  signingkey = {{ $signingkey | quote }}
  headless = {{ $headless }}
  ephemeral = {{ $ephemeral }}
