umask 002

# shortcut to this dotfiles path is $ZSH
export ZSH=$HOME/.config/zsh
export SHELL=/bin/zsh

# your project folder that we can `c [tab]` to
export PROJECTS=$HOME/projects

# source core zsh configuration files
for config_file ($ZSH/*.zsh) source $config_file

# source zsh config for tools, etc.
for config_file ($ZSH/config/*.zsh) source $config_file

if [[ -a ~/.localrc ]]
then
  source ~/.localrc
fi

# initialize autocomplete here, otherwise functions won't be loaded
# only regenerate the compinit dump once per day for faster startup
autoload -Uz compinit
if [[ -n $HOME/.zcompdump(#qN.mh+24) ]]; then
  compinit
else
  compinit -C
fi

# load every completion after autocomplete loads
for config_file ($ZSH/completions/*.zsh) source $config_file

{{ if not .headless -}}
if (( $+commands[starship] )); then
  eval "$(starship init zsh)"
fi
{{ end -}}
