[tools]
go = "1.26"
"go:github.com/attamusc/spin" = { version = "0.0.0-20260315212148-2c0a74c0db03", depends = "go" }
node = "24"
rust = "1.97"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora") (eq .chezmoi.osRelease.versionID "44") -}}
bob = "4"
ghq = "1"
herdr = "0.8.0"
jj = "0.44.0"
jjui = "0.10.9"
lazygit = "0.64.0"
"npm:@earendil-works/pi-coding-agent" = "0.83.0"
"npm:@github/copilot" = "1"
opencode = "1"
sheldon = "0.8.5"
starship = "1"
television = "0.15.9"
{{ end -}}
