"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Sean Dunn"
email = "attamusc@github.com"

[ui]
default-command = "st"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[remotes.origin]
auto-track-bookmarks = "glob:*"
[remotes.upstream]
auto-track-bookmarks = "main"

[aliases]
c = ["commit"]
ci = ["commit", "--interactive"]
e = ["edit"]
i = ["git", "init", "--colocate"]
l = ["log"]
nb = ["bookmark", "create", "-r @-"]
pull = ["git", "fetch"]
push = ["git", "push"]
r = ["rebase"]
s = ["squash"]
si = ["squash", "--interactive"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
