# Set up our default PATH variable
export PATH=$HOME/.local/bin:$HOME/.dotfiles/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin

# Homebrew
{{ if eq .chezmoi.os "darwin" -}}
{{   if eq .chezmoi.arch "arm64" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{   else -}}
eval "$(/usr/local/bin/brew shellenv)"
{{   end -}}
{{ else if stat "/home/linuxbrew/.linuxbrew/bin/brew" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end -}}

export USER_BIN=$HOME/.config/bin

# Languages
{{ if eq .chezmoi.os "darwin" -}}
{{   if eq .chezmoi.arch "arm64" -}}
export GO_HOME=/opt/homebrew/opt/go/libexec
{{   else -}}
export GO_HOME=/usr/local/opt/go/libexec
{{   end -}}
{{ else -}}
export GO_HOME=$(brew --prefix go)/libexec
{{ end -}}
export CARGO_HOME=$HOME/.cargo
export GOPATH=$PROJECTS/go-space
export BUN_HOME=$HOME/.bun

export TMUXIFIER_HOME=~/.tmuxifier
export GIT_FUZZY_HOME=$PROJECTS/tools/git-fuzzy
export OPENCODE_HOME=$HOME/.opencode

# Add our special directories
export PATH=$USER_BIN:$OPENCODE_HOME/bin:$BUN_HOME/bin:$TMUXIFIER_HOME/bin:$GOPATH/bin:$GO_HOME/bin:$GIT_FUZZY_HOME/bin:$PATH

# mkdir .git/safe in the root of repositories you trust
export PATH=".git/safe/../../bin:.git/safe/../../node_modules/.bin:$PATH"

# Set our MANPATH for `man`
export MANPATH="/usr/share/man:/share/man:$MANPATH"
